<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if current_user %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
      <div class="col-md-8">
  <% @posts.each do |post| %>
  <%= link_to post.title, post%> 
  </br>
  <%= link_to (image_tag post.image.url(:medium)), post %>
  </br>
  <%= link_to post.description, post%> 
  <% end %>
  </br>
   
    </div>
        <%#= render @posts %>
      </ol>
      <%#= will_paginate @posts %>
    <% end %>
  </div>
</div>
<td>
            <%= link_to new_post_path, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New
            <% end %>
          </td>
<td>
  <%= link_to edit_user_path(@user), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit Profile
  <% end %>
  </td>
 
<%= link_to 'Back', users_path %>
 <%= link_to 'Log Out', logout_path %>
