<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <h1 align="center">Posts</h1>
<% @Post.each do |p| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">

 <div class="col-md-8 well">
     
      <p><%= truncate(p.content, length: 50) %></p>
      <%= link_to  "view more", post_path(p.id) , class: "btn btn-outline-primary"%>
      <p>
        <%= time_ago_in_words(p.created_at) %> ago</small></span>
        <%= pluralize(p.comments.count, 'Comment') %>
        
      </p> 
    </div>
    <% end %>


    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %> </br>
 <%= link_to "Log Out", logout_path %>
