<h1>Your Posts</h1>
<% if @posts.empty? %>
<%= puts "Its empty,add some!"%>
<%= link_to 'Post new', new_post_path %>
<%else%>
<% @posts.each do |post| %>
<%= link_to (image_tag post.image.url(:medium)), post %>
<%= link_to post.title, post%> 

<%= link_to 'Post new', new_post_path %>
<%end%>
<%end%>