<%= image_tag @post.image.url %>
<%= @post.title %>
<%= @post.user.username %>
<%= @post.description %>

<%= link_to 'Back', root_path %>
<%= link_to 'edit', edit_post_path %>
<%= link_to 'delete', post_path, method: :delete, data: {confirm: "Are you sure?"}  %>
<%#= link_to 'like', like_post_path(@post), method: :put, class: 'btn btn-default' do <span> class="glyphicon glyphicon-thumbs-up" </span> %>
<%= @post.get_upvotes.size %>